<%- include ../../partials/header.ejs %> <%- include ../../partials/navbar.ejs
%> <%- include ../../partials/sidebar.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Bank</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/bank">Bank</a></li>
            <li class="breadcrumb-item active">Add</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Add Bank Form</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form action="/bank/create" method="POST">
              <div class="card-body">
                <div class="form-group">
                  <label for="ownerName">Bank Owner's Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="ownerName"
                    name="ownerName"
                    placeholder="Enter account owner's name"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="name">Bank Name</label>
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Enter bank name"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="accountNumber">Account Number</label>
                  <input
                    type="number"
                    class="form-control"
                    id="accountNumber"
                    name="accountNumber"
                    placeholder="Enter account number"
                    required
                  />
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
          <!-- /.card -->
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>
<%- include ../../partials/footer.ejs %> <%- include ../../partials/js.ejs %>
