<table id="example2" class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>No.</th>
      <th>Bank Name</th>
      <th>Owner's Name</th>
      <th>Account Number</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% for(let i=0; i<bank.length; i++) {%>
      <tr>
        <td><%= i+1 %></td>
        <td><%= bank[i].name %></td>
        <td><%= bank[i].ownerName %></td>
        <td><%= bank[i].accountNumber %></td>
        <td>
          <form action="/bank/delete/<%= bank[i]._id %>?_method=DELETE" method="POST">
            <a href="/bank/edit/<%= bank[i]._id %>" class="btn btn-info btn-sm">
              <i class="fas fa-pencil-alt"></i> 
              Ubah
            </a>
            <button class="btn btn-danger btn-sm">
              <i class="fas fa-trash"></i>
              Hapus
            </button>
          </form>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
